<div class="registerPage container coolFont f f-center">
  <div class="registerPageContent">
    <h2 class="page-header colorBlue">Записване <span class="registerSmallText">Информация за нашия уебинар.</span></h2>
    {{#if errors}}
            <div class="alert alert-danger">{{#each errors}}{{msg}}{{/each}}</div>
    {{/if}}
    <form method="post" action="/users/register">
      <div class="registerInputCols f f-col size200">
          <div ng-repeat="webinar in webinarNames">
              <div ng-click="mainCtrl.chosenWebinar($index)" class="form-group f webinarItem" ng-class="{'webinarActiveFront': mainCtrl.chosenWebClass === $index}">
                  <label>[[webinar]]</label>
                  <div class="f-grow"></div>
                  <div class="admin-webinarActivateButton"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <input style="display: none" value="mainCtrl.chosenWebClass" name="webinar">
              </div>
          </div>
      </div>
      <div class="registerInputCols f f-col">
        <div class="form-group">
          <label>Вашето име</label>
          <input type="text" class="form-control" placeholder="Име" name="name">
        </div>
        <div class="form-group">
          <label>Вашия email</label>
          <input type="text" class="form-control" placeholder="Email" name="username">
        </div>
        <div class="form-group hidden">
          <label>Парола</label>
          <input value="12345" type="password" class="form-control" placeholder="Парола" name="password">
        </div>
        <div class="form-group hidden">
          <label>Повторете паролата</label>
          <input value="12345" type="password" class="form-control" placeholder="Повторно парола" name="password2">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>
