
<div class="registerPage container coolFont f f-center">
  <div class="registerPageContent">
    <div class="successPageCont">
	  <div class="successPageHead">
	      Регистрацията бе завършена успешно.
	  </div>
	  <div class="successPageOther">
	      Ще получите мейл с допълнителна информация на посочения адрес.
	  </div>
    </div>
  </div>
</div>
